[srcp]
port = 12345

[s88]
bus = 1
refresh = 50
repeat = 3
spiport = /dev/spidev1
spimode = 2
number_fb_1 = 18
number_fb_2 = 23
number_fb_3 = 0
number_fb_4 = 0

[ddl]
bus = 5
spiport = /dev/spidev0
maerklin
dcc
mfx=1021970
mfx_reg_count_file = /etc/srcpd.regcount
siggmode
shortcut_delay = 500
watchdog
